# Essentials
.env
coverage
dist
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
yarn-integrity
pids
*.log
*.pid
*.seed
*.local
*.vscode
*.vsss
*.swp
.DS_Store
._build
.egg
.egg-info
.local
.nyc
.node-debug.log
vercel
.cache
.next
.out
.vercel
build
public
